/* src/Cell.css */
.cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white; /* セルの背景を白色に設定 */
    cursor: pointer;
    position: relative;
}

.cell.given {
    background-color: #ddd;
    cursor: default;
}

.cell.selected {
    background-color: #ffffdd; /* 選択されたセルの背景色 */
}

.cell.error {
    background-color: #ffcccc;
}

/* 中央20px四方の透明クリックゾーン */
.click-area {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cell.given {
    background-color: #ddd;
    cursor: default;
}

.cell-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-number {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
}

.notes-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    padding: 0;
}

.note-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.note-number {
    font-size: 0.5em;
    color: #888;
    line-height: 1;
}

.cell.last-input {
    background-color: #d1e8ff; /* 薄い青色にハイライト */
}

.cell.highlighted {
    background-color: #d1e8ff; /* セル全体を薄い青色にハイライト */
}

.highlighted-note {
    background-color: #d1e8ff; /* メモの背景色を薄い青色にハイライト */
}

/* 選択されたセルとハイライトされたセルが重なる場合、選択が優先されるように調整 */
.cell.selected {
    background-color: #ffffdd; 
}

/* N国同盟のメモのハイライト */
.note-cell.naked-subset-note {
    background-color: #ffcdd2; /* 薄い赤 */
    font-weight: bold;
}


.cell.color1,
.note-cell.color1 {
    background-color: #03ff03;
    color: initial;
}

.cell.color2,
.note-cell.color2 {
    background-color: #ff9100;
    color: initial;
}

.cell.color3,
.note-cell.color3 {
    background-color: #5900ff;
    color: initial;
}

.cell.color4,
.note-cell.color4 {
    background-color: #f900d8;
    color: initial;
}